/* Made by Kuba Polomski. Uncopyrighted (you can use it anywhere you want) */

:root {
    font-size: 112.5%;
    /*  18px base font size */
    --background-color: hsla(40, 12%, 98%, 1);
    --primary-color: hsla(0, 0%, 0%, .80);
    --secondary-color: hsla(0, 0%, 0%, .64);
    --tertiary-color: hsla(0, 0%, 0%, .48);
    --accent-color: hsla(48, 64%, 64%, 1);
    --accent-color-darker: hsla(48, 56%, 56%, 1);
    --shadow-color: hsla(0, 0%, 0%, 1);
    --primary-on-accent-color: hsla(0, 0%, 0%, .80);
    --card-color: hsla(40, 12%, 92%, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: hsla(40, 12%, 8%, 1);
        --primary-color: hsla(0, 0%, 100%, .80);
        --secondary-color: hsla(0, 0%, 100%, .64);
        --tertiary-color: hsla(0, 0%, 100%, .48);
        --accent-color: hsla(48, 56%, 56%, 1);
        --accent-color-darker: hsla(48, 48%, 48%, 1);
        --shadow-color: hsla(0, 0%, 0%, 1);
        --primary-on-accent-color: hsla(0, 0%, 0%, .80);
        --card-color: hsla(40, 12%, 12%, 1);
    }

    img {
        opacity: .8;
    }
}

.primary {
    color: var(--primary-color);
}

.tertiary {
    color: var(--tertiary-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-color);

}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .125rem;
}

h5 {
    margin-bottom: .8em;
}

p {
    color: var(--secondary-color);
    line-height: 1.3;
}

strong {
    color: var(--primary-color);
}

li {
    margin-left: 1em;
    list-style-position: outside;
    margin-bottom: .875rem;
}

a {
    color: inherit;
}

svg {
    fill: var(--primary-color);
}

.results {
    margin-left: .5rem;
}

.results ul {
    margin-top: 1rem;
}

.results.with-headers {
    list-style-type: none;
}

.results li:not(:first-of-type) {
    margin-top: 2rem;
}


.results li span:first-of-type {
    font-weight: bold;
    line-height: 1.2rem;
}

.results span:not(:first-of-type) {
    margin-top: .5rem;
    display: block;
    color: var(--secondary-color);
    font-weight: normal;
}

.block {
    display: block;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 10vh;
    text-transform: uppercase;
    background-color: inherit;
}

nav>a {
    width: calc(33.3% - 1.5rem);
    text-align: center;
    color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
    text-decoration: none;
}

nav>a:hover {
    border-bottom: 3px solid var(--accent-color-darker);
}

nav>a.active {
    font-weight: 700;
    border: none;
}

header {
    display: flex;
    margin-bottom: 2rem;
}

header>div>h1 {
    margin: 0;
    /* margin-bottom: .8rem; */
    line-height: 2.5rem;
    text-align: left;
}

footer {
    padding: .5rem;
    text-align: center;
    margin: 2rem auto 1rem;
}

footer>p {
    text-align: center;
    font-size: .875rem;
    opacity: .87;
    margin: 0;
}

footer a {
    text-decoration: underline;
}

.hello {
    margin-bottom: 3rem;
    text-align: center;
}

.hello h1 {
    margin-bottom: 0;
}




.sumup {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 0 1rem;
    font-size: .875rem;
}

.sumup>div {
    width: calc(50% - 2rem);
}

.sumup>div:first-of-type {
    margin-bottom: 2rem;
}

.sumup li {
    /* line-height: 1.4rem; */
    color: var(--primary-color);
}

.sumup p {
    margin-left: 1rem;
    color: var(--secondary-color);
    line-height: normal;
}

.sumup h4 {
    margin-top: 0;
    text-align: initial;
}



button {
    padding: 12px 24px;
    background-color: inherit;
    border: 1px solid var(--shadow-color);
    color: var(--primary-color);
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
    font-weight: 700;
    box-shadow: 4px 4px 0px var(--shadow-color);
    cursor: pointer;
}

button:focus {
    outline: hsla(240, 4%, 62%, 1) auto 4px;
}

button:hover {
    box-shadow: 1px 1px 0px var(--shadow-color);
}

button:active {
    box-shadow: inset 2px 2px 0px var(--shadow-color);
}

button.cta {
    background-color: var(--accent-color);
    color: var(--primary-on-accent-color);
}

button.cta:active {
    background-color: hsla(47, 58%, 48%, 1);
}

.back {
    font-size: .75rem;

}

.back a {
    padding: 1rem 1rem 1rem 0;
    text-decoration: none;
}

.back span {
    font-size: 1.5rem;
}

.go-start {
    position: fixed;
    width: .875rem;
    height: .875rem;
    font-size: .875rem;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border: 1px solid var(--tertiary-color);
    background-color: var(--background-color);
    border-radius: 0px;
    display: block;
    text-align: center;
}

.go-start.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    /* margin: 2rem auto 1rem; */
    padding: 0 1rem;
    position: relative;
}

.welcome {
    padding: 0 1rem;
    margin: 4rem 0 2rem;
    display: flex;
    align-items: stretch;
    position: relative;
}

.welcome img {
    border-radius: 1rem;
    object-fit: cover;
    margin-right: 3rem;
    max-width: 10rem;
    max-height: 18rem;
}

.welcome h1 {
    text-align: left;
    margin-top: 0;
}

.welcome h5 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.welcome h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.welcome .cta {
    margin-top: 2rem;
}

img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid var(--card-color);
}

video {
    max-width: 100%;
}

section {
    margin-bottom: 4rem;
    /* padding: 1rem; */
}

section>figure:not(:first-of-type) {
    margin-top: 3rem;
}


section button {
    background-color: inherit;
}

section:last-child {
    margin-bottom: 0;
}

section h3 {
    margin-top: 0;
}

section.project {
    border: 1px solid var(--tertiary-color);
    padding: 1rem;
}

section.project button {
    float: right;
}

section.project h5 {
    margin: 1rem 0 0;
}

section.project p {
    margin-top: .5rem;
}

article {
    padding: 1rem 0 2rem;
}

article h1,
article h2,
article h3,
article h4 {
    margin: 2rem 0 .5em;
}

article>section {
    padding: 0;
    margin-bottom: 6rem;
}

article>section>section {
    margin-bottom: 3rem;
}

.hero {
    border: none;
}

.disclaimer {
    margin: 2rem 0;
}


.disclaimer h4 {
    margin: 0;
}

.disclaimer p {
    margin-top: .5rem;
}



.gallery {
    display: flex;
    align-items: stretch;
    margin: 2rem 0;
    /* overflow-x: auto; */
    justify-content: center;
    /* padding: 1rem; */
}

.gallery img {
    max-height: 30vh;
}



figure {
    text-align: center;
    width: 100%;
}

figure img.gif {
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
}

section .gallery figure:not(:first-of-type) {
    margin-top: 0;
    margin-left: 1rem;
}

figcaption {
    display: block;
    font-size: .875rem;
    text-align: center;
    width: 100%;
}

summary li {
    margin-bottom: 0;
    margin-top: 0;
}

.outcomes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.outcomes>div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.outcomes p {
    padding: 1.5rem 0 .5rem;
    margin: 0;
}

.apps {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem;
}

.apps a {
    max-width: 134px;
    height: 40px;
}

.apps a:first-of-type {
    margin-right: 1rem;
}

blockquote {
    font-size: 2rem;
}

section blockquote:not(first-of-type) {
    margin-top: 4rem;
}

section blockquote:nth-of-type(even) {
    text-align: right;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

/* blockquote p::before,
blockquote p::after {
    content: "“";
    font-family: serif;
    font-size: 8rem;
    margin: -2rem 0 0 -4rem;
    position: absolute;
    opacity: 0.5;
}


blockquote p::after {
    content: "”";
    margin: -1rem -4rem 0 0;
} */

blockquote cite {
    font-size: 1.5rem;
}

.overview {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.overview div {
    margin-bottom: 2rem;
}

.overview h4 {
    margin-bottom: .5rem;
}

.overview ul {
    margin-left: 1rem;
    list-style-type: none;
}

.overview li::before {
    content: "- ";
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 87.5%;
    }

    .outcomes {
        flex-wrap: wrap;
    }

    .outcomes>div {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 639px) {

    .sumup {
        display: block;
    }

    .sumup>div {
        width: calc(100% - 2rem);
    }

    .welcome {
        margin-top: 2rem;
        flex-direction: column;
    }

    .welcome img {
        margin: 0 auto 2rem;
        width: 50%;
        height: 12rem;
    }

    blockquote p {
        font-size: 1.5rem;
    }

    blockquote cite {
        font-size: 1rem;
    }
}

@media screen and (min-width: 640px) {

    nav>a {
        width: auto;
    }
}